- var name = "りゅうじ";

doctype html
html
head
  meta(charset='UTF-8')
  title= package.title
  meta(name='description', content=package.description)
  meta(name='keywords', keywords=package.keywords)
  meta(name='robots', keywords=package.robots)
body
  h1= package.title
  p #{package.title} にようこそ。


  section.message
    p#greeting こんにちは。私の名前は #{name} よ。よろしくね。

  div#facebook.
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
